.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-header h1, .row-header h3 {
    text-align: center;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB;
    color:floralwhite;
}
