.*{
	background-color: white;
}
html,body{
    height: 100%
}

#log{
	margin-top: 5em;
	display:block;
    margin:auto;
    text-align: center;
}



#foto{
	border: 2px solid black;
    border-radius: 12px;
}

#foto {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('img/perfil.png');
    
    /* make a square container */
    width: 70px;
    height: 70px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    display:block;
    margin:auto;
}

#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('img/avatar.png');
    
    /* make a square container */
    width: 70px;
    height: 70px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    display:block;
    margin:auto;
}

@media only screen and (max-width: 768px) {
    #foto {
        display: none;
    }
}

header, .footer{
	background-color: white;
}

footer{
	margin-top: 2em;
}

#cabecera{
	margin-top: 2em;
}

div {
    text-align: justify;
    text-justify: inter-word;
}